.right-side-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f9;
}

.container-analytics {
    height: 92vh;
    width: 84vw;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graficTitle {
    display: flex;
    justify-content: center;
}

.graficTitle h3{
    width: 95%;
}

.topGrafics {
    height: 44vh;
    width: 84vw;
    /* border: solid 1px blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxKpi {
    height: 44vh;
    width: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topKpi {
    height: 21vh;
    width: 42vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomKpi {
    height: 21vh;
    width: 42vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kpi {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
    border: solid 2px #2C2B2B;
    border-radius: 10px;
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.kpi .kpiContentTop {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
}

.kpi .kpiContentTop #pingText{
    display: flex;
    justify-content: flex-start;
}

.kpi img {
    width: 50px;
}

.kpi .kpiContentPorcen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    font-size: 4rem;
    font-weight: 500;
}

.kpi .kpiContentTime {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.kpi .kpiContentTime p{
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
}

.kpi p {
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineGrafic {
    background-color: white;
    border: solid 2px #2C2B2B;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 44vh;
    width: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lineGrafic .lineContainer {
    width: 650px;
}

.bottomGrafics {
    /* border: solid 1px green; */
    height: 44vh;
    width: 84vw;
    display: flex;
    justify-content: space-between;
}

.barGrafic {
    background-color: white;
    border: solid 2px #2C2B2B;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 44vh;
    width: 42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.barGrafic .barContainer {
    width: 650px;
}


.pieGrafic {
    background-color: white;
    border: solid 2px #2C2B2B;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 44vh;
    width: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pieGrafic .pieContainer {
    width: 320px;
}

.active{
    background-color: #ffff;
    width: 110%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 51.5%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: block;
    transition: top 0.5s;
}

.nav-links li:nth-child(4) a{
    color: #2C2B2B;
}

#paginaAtual {
    color: #4EABE9;
}