.pc-info{
    width: 100%;
    height: 20vh;
    border: solid 3px aqua;
    display: flex;
    flex-direction: column;
}
.title1{
    width: 60%;
    margin-left: 3%;
    justify-content:space-between;
    display: flex;
}
.title2{
    width: 95%;
    margin-left: 3%;
    justify-content:space-between;
    display: flex;
}