body {
    color: white;
    background-color: white;
}

.left-side-window {
    /* background-color: #16527b;      */
    background-color: #2C2B2B;   
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.right-side-window {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PcInd{
    height: 95vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pc-info{
    color: white;
    width: 98%;
    height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #2C2B2B;
    /* background-color: #16527b; */
}

.title {
    margin-left: 30px;
    height: 8vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentTitle {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentTitleImg img{
    width: 130px;
}

.contentTitle span {
    font-size: 1.2rem;
}


.graficos {
    height: 78vh;
    width: 98%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxGraficos {
    display: flex;
    justify-content: space-between;
}

.boxLegendaGrafico {
    display: flex;
    width: 36vw;
}

.boxLegendaGrafico2 {
    display: flex;
    justify-content: end;
    width: 36vw;
}

.fundoLegenda {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    right: 50px;
    bottom: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #4EABE9;
    /* background-color: #2C2B2B; */
}

.fundoLegenda2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    left: 50px;
    bottom: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #4EABE9;
    /* background-color: #2C2B2B; */
}

.graficBox {
    /* background-color: #2C2B2B; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
    height: 37vh;
    width: 32vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleChart {
    color: black;
    width: 26vw;
}

.graficoRosca {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.graficoSolo {
    display: flex;
    justify-content: center;
    height: 15vw;
    width: 60vh;
}

.roscaGrafic {
    width: 20vw;
}

.porcenRosca {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 4rem;
    color: black;
}

.porcenRosca p {
    font-size: 3.2rem;
}