@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: white;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #1a1a1a;
}

button {
    cursor: pointer;
}

.caixa {
    background-color: #2C2B2B;
    border: solid 3px #4EABE9;
    border-radius: 20px;
    /* box-shadow: 2px 2px 10px #4ea5df75; */
}

.container {
    margin: auto;
    width: 90%;
}

li {
    list-style: none;
}

.text-geral {
    font-size: 19pt;
}

.right-side-window {
    width: 85%;
    height: 100vh;
}

.right-side-window nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-window nav .logo {
    width: 120px;
    height: 70%;
}

.left-side-window {
    width: 12%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-right: #4EABE9 solid 3px; */
    /* border-radius: 0px 5px 5px 0px; */
    background-color: #2C2B2B;
    font-weight: 500;
}

.left-side-window .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left-side-window .container .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}

.left-side-window .container .nav-itens {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    /* width: 125%; Isso vai ser util caso tenha o efeito de borda arredondada quando selecionado*/
}

.left-side-window .container .user-info img{
    width: 40px;
    height: 40px;
}

.left-side-window .container .nav-itens div {
    display: flex;
    cursor: pointer;
}

.left-side-window .container a {
    font-size: 15pt;
    background-color: transparent;
    border: none;
    font-weight: 500;
}