@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: poppins, sans-serif;
}

.side-nav{
    width: 180px;
    height: 100%;
    background: #2C2B2B;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 15px;
}

.logo{
    display: block;
    margin-bottom: 130px;
}

.logo-img{
    width: 150px;
}

.nav-links{
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}

.active{
    background-color: #ffff;
    width: 110%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links li:hover a{
    color: #2C2B2B;
    transition: 0.3s;
}

.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active{
    top: 3%;
}

.nav-links li:nth-child(2):hover ~ .active{
    top: 23%;
}

.nav-links li:nth-child(3):hover ~ .active{
    top: 42.5%;
}

.nav-links li:nth-child(4):hover ~ .active{
    top: 62.5%;
}

.nav-links li:nth-child(5):hover ~ .active{
    top: 82.5%;
}