body {
    color: white;
}

.right-side-window {
    font-size: 22pt;
}

.right-side-window .container{
    height: 100%;
}

.right-side-window nav {
    /* border: solid red 3px; */
    /* padding: 3px 0px; */
    width: 100%;
    height: 10%;
}

.right-side-window .corpo{
    /* border: green 3px solid; */
    width: 100%;
    height: 90%;
}

.right-side-window .caixa{
    /* border: green 3px solid; */
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side-window .caixa .conteudo-caixa{
    /* border: pink solid; */
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side-window .caixa .conteudo-caixa .content-topo {
    /* border: red solid; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side-window .caixa .conteudo-caixa .content-topo .itens-topo {
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
}

.right-side-window .caixa .conteudo-caixa .content-topo .itens-topo div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.right-side-window .caixa .conteudo-caixa .content-topo .itens-topo input {
    height: 23px;
    width: 75%;
    font-size: 18pt;
    padding: 2px;
    border-radius: 5px;
}

.right-side-window .caixa .conteudo-caixa .content-topo .itens-topo button {
    background-color: transparent;
    border: none;
}

.right-side-window .caixa .conteudo-caixa .content-topo .itens-topo .pesquisa_imagem   {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.right-side-window .caixa .conteudo-caixa .content-topo .itens-topo .adicionar-botao {
    padding: 5px 15px;
    font-size: 15pt;
    border-radius: 5px;
    background-color: #4EABE9;
    color: white;
    font-weight: 400;
    border: none;
}

.right-side-window .caixa .conteudo-caixa .content-corpo {
    font-size: 18pt;
    /* border: red solid; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 2%;
}

.infos-topo-tabela {
    /* border: green solid; */
    background-color: #4EABE9;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 7px 7px 0px 0px;
}

.linha-tabela {
    /* border: red solid; */
    width: 100%;
    display: flex;
    margin-top: 7px;
    background-color: #fff;
    color: black;
}

.info-item {
    /* border: red solid; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex;
    justify-content: space-around;
}

.tools img {
    cursor: pointer;
}