@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.geral {
    margin: 0;
    height: 100vh;
    display: flex;
}

.banner {
    height: 100vh;
    width: 58%;
    background-image: url("../assets/banner.png");
    background-size: cover; 
    background-position: 25%;
    /* background-repeat: no-repeat; */
    /* box-shadow: 10px -0px 10px rgba(50, 50, 50, 0.77); */
}

.banner img {
    position: relative;
    top: 3vh;
    left: 2vw;
}

.banner img:hover {
    cursor: pointer;
}


.formulario{
    height: 100vh;
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tema {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.tema img {
    position: relative;
    top: 1vh;
}

.tema img:hover {
    cursor: pointer;
}

.form {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form .container{
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.texto-logo {
    height: 16vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.texto-logo img{
    width: 22%;
    margin-left: 30px;
}

.texto-logo .texto-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-logo h1, p{
    margin: 0;
    font-weight: 600;
}

.texto-logo h1{
    font-size: 70px;
    font-weight: 500;
}

.texto-logo .barrinha {
    width: 4vw;
    border-top: solid 2px #4EABE9;
}

.campos01 {
    height: 48vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campos01 .parteUmCad {
    height: 48vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.campos01 .entrada {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.campos01 .entrada label{
    font-size: 1.1rem;
    font-weight: 500;
}

.campos01 .entrada input{
    height: 4.5vh;
    border: none;
    outline: 0;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-top: 12px;
    padding: 0 1vw;
    font-size: 1.2rem;
}

.campos01 .buttons {
    height: 10vh;
    width: 300px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campos01 button {
    font-size: 1.2rem;
    height: 48px;
    width: 150px;
    border-radius: 12px;
    color: #FFFF;
    background-color: #4EABE9;
    border: none;
}

.campos01 button:hover {
    cursor: pointer;
}

.campos01 a {
    text-decoration: none;
    color: #4EABE9;
}



/* PARTE 2 CAD */
.container02 {
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campos02 {
    height: 72vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campos02 .parteDoisCad {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.campos02 .entrada {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.campos02 .entrada label{
    font-size: 1.1rem;
    font-weight: 500;
}

.campos02 .entrada input{
    height: 4.5vh;
    border: none;
    outline: 0;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-top: 12px;
    padding: 0 1vw;
    font-size: 1.2rem;
}

.campos02 .buttons {
    height: 10vh;
    width: 300px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campos02 button {
    font-size: 1.2rem;
    height: 48px;
    width: 150px;
    border-radius: 12px;
    color: #FFFF;
    background-color: #4EABE9;
    border: none;
}

.campos02 button:hover {
    cursor: pointer;
}

.campos02 a {
    text-decoration: none;
    color: #4EABE9;
}


/* Parte 3 */
.container03 {
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campos03 {
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campos03 .parteTresCad {
    height: 53vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.campos03 .entrada {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.campos03 .entrada label{
    font-size: 1.1rem;
    font-weight: 500;
}

.campos03 .entrada input{
    height: 4.5vh;
    border: none;
    outline: 0;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-top: 12px;
    padding: 0 1vw;
    font-size: 1.2rem;
}

.campos03 .buttons {
    height: 10vh;
    width: 300px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campos03 button {
    font-size: 1.2rem;
    height: 48px;
    width: 150px;
    border-radius: 12px;
    color: #FFFF;
    background-color: #4EABE9;
    border: none;
}

.campos03 button:hover {
    cursor: pointer;
}

.campos03 a {
    text-decoration: none;
    color: #4EABE9;
}



@media screen and (max-width: 1366px){
    .texto-logo h1{
        font-size: 55px;
    }
}

@media screen and (max-width: 920px){
    .banner{
        width: 0%;
    }
    
    .formulario{
        width: 100%;
    }

    .texto-logo img{
        width: 150px;
        margin-left: 30px;
    }
} 

@media screen and (max-height: 700px){
    .campos01 .buttons {
        height: 12vh;
    }
    .campos02 .buttons {
        height: 12vh;
    }
    .campos03 .buttons {
        height: 12vh;
    }
}


@media screen and (max-width: 1328px){
    .campos01 .entrada {
        width: 280px;
    }
    .campos02 .entrada {
        width: 280px;
    }
    .campos03 .entrada {
        width: 280px;
    }
}

@media screen and (max-width: 420px){
    .campos01 .entrada{
        width: 250px;
    }
    .campos02 .entrada{
        width: 250px;
    }
    .campos03 .entrada{
        width: 250px;
    }
}

@media screen and (max-width: 300px){
    .campos01 .entrada{
        width: 200px;
    }
    .campos02 .entrada{
        width: 200px;
    }
    .campos03 .entrada{
        width: 200px;
    }
}

/* @media screen and (max-width: 400px){
    .formulario .container{
        height: 66vh;
    }
} */