@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior:smooth;
}

.window {
    height: 95vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

.destaque{
    color: #4EABE9;
}

.container{
    margin: auto;
    width: 80%;
}

.firstWindow {
    background-image: url("../assets/home_backgroundIMG.png");
    background-position: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
}


nav {
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
}

nav .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: auto;
    width: 80%;
}

nav.header {
    height: 112px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.8s;
}

.logo {
    width: 112px;
    height: 60px; 
}

nav li a:hover{
    border-bottom: 3px solid #4EABE9; 
}

nav .links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 17pt;
    transition: 0.2s ease;
    margin-right: 6vw;
}

nav .links li {
    padding: 0 5px;
}

nav .links li a{
    transition: 0.3s ease;
}

nav .links a:hover{
    transition: 0.3s;
    color: #4EABE9;
}

nav .buttons button{
    font-size: 16pt;
    border-radius: 5px;
    padding: 4px 14px;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav .buttons {
    width: 11vw;
    display: flex;
    justify-content: space-between;
}

nav .buttons .botaoCadastro {
    background-color: #4EABE9;
}

nav .buttons button:hover{
    background-color: #a4cae4;
    transition: 0.3s;
}

.firstWindow .text {
    font-family: 'Heebo', sans-serif;
    height: 50vh;
    width: 51%;
    font-size: 2.5rem;
    color: white;
}

/* SEGUNDA TELA */


.secondWindow {
    width: 100%;
    background-color: #1A1A1A;
    color: white;
    border-bottom: 1px #4EABE9 solid;
}

.secondWindow .container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.secondWindow .text{
    display: flex;
    justify-content: space-between;
}

.secondWindow .text .textSobre{
    width: 31vw;
}

.secondWindow .text .textSobre h2{
    font-size: 2.5rem;
    margin: 0;
}

.secondWindow .text .textSobre p{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.secondWindow .text img{
    width: 600px;
}


/* TERCEIRA TELA */

.thirdWindow {
    border-bottom: 1px #4EABE9 solid;
    display: flex;
    align-items: center;
}

.thirdWindow .container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.thirdWindow .container h2 {
    font-size: 2.5rem;
    margin: 0;
}

.thirdWindow .container p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.thirdWindow .container img {
    width: 750px;
}


/* QUARTA TELA */

.fourthWindow{
    background-color: #1A1A1A;
    color: white;
}

.fourthWindow .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fourthWindow .container h2{
    font-size: 2.5rem;
    text-align: center;
}

.fourthWindow .boxes{
    display: flex;
    justify-content: space-between;
}

.fourthWindow .boxes li{
    height: 68vh;
    width: 26%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
}

.fourthWindow .boxes li .content{ 
    /* border: #4EABE9 solid 3px; */
    height: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.fourthWindow .boxes li .boxTitle{
    /* border: red solid 3px; */
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.fourthWindow .boxes li .titleContent{
    font-size: 24px;
    width: 90%;
}

.fourthWindow .boxes li img{
    width: 45%;
}

.fourthWindow .boxes li .content{
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}


/* FOOTER */


footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

footer .container .icons{
    display: flex;
}

footer .container .icons img {
    width: 40px;
    padding: 0 1vw;
    cursor: pointer;
}

footer .container .icons img:last-child{
    padding: 0 0 0 1vw;
}


/* MEDIA QUERY */

@media screen and (max-width: 1024px){
    .firstWindow .text {
        font-size: max(20px, 3.5vw);
        width: 60%;
    }
}

@media screen and (max-width: 830px) {
        /* Menu hamburguer */

        nav .menuLines{
            position: absolute;
            right: 35px;
            z-index: 999;
            width: 35px;
            height: 35px;
        }
        
        nav .menuTrigger{
            display: block;
            position: absolute;
            z-index: 1000;
            width: 35px;
            height: 35px;
            right: 35px;
            opacity: 0;
        }
        
        nav .menuLines span {
            display: block;
            width: 35px;
            height: 5px;
            margin-bottom: 10px;
            background-color: #4EABE9;
            border-radius: 3px;
            transition: 0.2s ease;
        }
    
        nav .menuTrigger:checked ~ .menuLines span{
            background-color: #232323;
        }
    
        nav .menuTrigger:checked ~ .menuLines span:nth-child(1){
            transform-origin: 0 100%;
            transform: rotate(45deg) scaleX(1.25);
        }
        nav .menuTrigger:checked ~ .menuLines span:nth-child(2){
            opacity: 0;
        }
        nav .menuTrigger:checked ~ .menuLines span:nth-child(3){
            transform-origin: 0 100%;
            transform: rotate(-45deg) scaleX(1.25);
        }
    
        nav .links{
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            z-index: 998;
            right: 0%;
            top: 0;
            width: 130px;
            height: 100vh;
            padding-top: 100px;
            margin-right: -250px; 
            background-color: white;
        }
    
        nav .links a{
            color: black;
        }
    
        nav .links li{
            padding: 13px;
        }
    
        nav .menuTrigger:checked ~ .links{
            margin-right: 0px;
        }
    
        nav .buttons{
            display: flex;
            flex-direction: column;
            width: 120px;
            position: absolute;
            right: 0;
            margin-right: 32%;
            color: #232323;
        }

        nav .buttons button{
            font-size: 13pt;
        }

}

@media screen and (max-width: 750px){
    .firstWindow {
        height: 80vh;
    }

    .firstWindow .container .text{
        margin-top: 12vh;
    }


    .logo{
        width: 70px;
        height: 35px;
    }
    
    /* Segunda tela */
    
    .secondWindow {
        height: 165vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secondWindow .container{
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    

    .secondWindow .first{
        height: 71vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .secondWindow .second{
        height: 65vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .secondWindow .text img{
        width: 100%;
    }

    .secondWindow .text .textSobre{
        width: 100%;
    }

    .secondWindow .text .primeiro h2{
        margin-bottom: 3vh;
    }

    /* Terceira tela */

    .thirdWindow  {
        height: 125vh;
    }

    .thirdWindow .container img {
        width: 100%;
    }

    /* Quarta tela */

    .firstWindow .text {
        font-size: max(25px, 4.1vw);
        width: 65%;
    }

    .fourthWindow{
        height: 270vh;
    }

    .fourthWindow .container .title{
        font-size: max(20pt, 30pt);
    }

    .fourthWindow .container .boxes{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 270vh;
    }

    .fourthWindow .container .boxes li{
        height: 80vh;
        width: 80%;
    }

    .fourthWindow .container .boxes li .content{
        height: 53vh;
    }

    .fourthWindow .boxes li img{
        width: 35%;
    }

    footer .container .icons img {
        width: 30px;
    }
}

@media screen and (max-width: 400px){
    .firstWindow .text {
        font-size: max(27px, 4.1vw);
        width: 100%;
    }

    nav .buttons{
        flex-direction: column;
        margin-right: 37%;
    }
}